/* Resetting default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling for consistent font and background */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* Header styling with spacing and background color */
header {
  background-color: #0056b3;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #bbb 1px solid;
}

/* Navigation bar styling */
nav {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Main content styling with padding */
main {
  padding: 15px;
}

/* Image styling for responsiveness */
img {
  max-width: 100%;
  height: auto;
}

/* Section styling for spacing */
section {
  margin-bottom: 20px;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
}
/*kantine styling*/ 
/*.image-container{
  position: relative;
  display: inline-block;
  
}*/
.contered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  /*Bakgrunnsfarger for tekstboksen*/
  padding: 10px; /*juster padding etter behov*/
}
/*kantine med flex*/
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.image {
  width: 150px;
  height: 150px;
  margin: 10px;

}


